@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/Merriweather-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* light mode */
    --heading-color: rgb(68, 31, 16);
    --para-color: rgb(46, 20, 9);
    --fg-color: #F25F25;
    --para-font: 'Merriweather', serif;
    --para-font-size: 1em;
    --heading-font-size: 3em;
    --heading-font: 'Lato', sans-serif;
    --bg-color: #222;
    --second-color: rgb(231, 135, 57);
    --third-color: #fff;

    /* dark mode */
    --heading-dark-color: rgb(235, 124, 80);
    --para-dark-color: rgb(240, 221, 199);
    --fg-dark-color: #241C15;
    --bg-dark-color: #222;
    --second-dark-color: #fff;
    --third-dark-color: #fff;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    width: 100%;
    min-height: 100vh;
}

*::-webkit-scrollbar {
    width: 0 !important;
}

.main {
    width: inherit;
}

.article {
    align-items: center;
    display: inherit;
    gap: 2em;
    margin: 0 auto;
    padding-bottom: 4em;
}

.image-wrapper {
    max-width: 500px;
    background-color: rgb(127, 127, 127);
    height: fit-content;
    transition: 500ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.img-overlay {
    background-color: rgb(88, 65, 50);
    transition: 500ms ease-in-out;
}

.img-overlay .article-img{
    filter: saturate(0);
}

.image-wrapper.img-overlay {
    max-width: 400px;
    box-shadow: rgb(0 0 0 / 55%) 0px 5px 15px;
}

.article-img {
    width: 100%;
    object-fit: cover;  
    mix-blend-mode: overlay;
}

.title{
    font-size: var(--heading-font-size);
    line-height: 0;
}

.title,
.subtitle {
    font-family: 'Lato', sans-serif;
    color: var(--heading-color);
}

.footer {
    background-color: var(--second-color);
    display: inline-block;
    height: 10%;
    width: 100%;
}

.toggle-theme {
    background-image: url('../img/icon.png');
    background-size: contain;
    filter: invert(1);
    height: 40px;
    margin: 2em;
    opacity: 0.85;
    position: fixed;
    top: 0;
    transition: 250ms opacity ease-in-out;
    user-select: none;
    width: 40px;
}

.toggle-theme {
    cursor: pointer;
    opacity: 1;
    transition: 250ms opacity ease-in-out;
}

.content {
    align-items: center;
    background-color: var(--fg-color);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--para-font);
    gap: 6em;
    height: fit-content;
    margin-top: 600px;
    padding-top: 4em;
    transition: 250ms ease-in-out;
    width: 100%;
}

.content-paragraph {
    color: var(--para-color);
    font-size: var(--para-font-size);
    line-height: 1.5;
}

.column {
    width: 500px;
}

.introduction {
   margin-bottom: 6em;
}

.bg {
    background: url('../img/bg-6.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -10;
}

/* dark mode  */
.dark {
    background-color: var(--fg-dark-color);
}

.dark .content-paragraph {
    color: var(--para-dark-color);
}

.dark .title,
.dark .subtitle {
    color: var(--heading-dark-color);
}

.dark .body {
    background-color: var(--fg-dark-color);
}

.dark .article-image {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

@media (max-width: 700px) {


}
